@import url("//hello.myfonts.net/count/2938ba");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url("../webfonts/2938BA_0_0.eot");
  src: url("../webfonts/2938BA_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2938BA_0_0.woff") format("woff"), url("../webfonts/2938BA_0_0.ttf") format("truetype"); }

a {
  text-decoration: none;
  color: #be3434; }

h2 {
  color: white;
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0;
  padding: 0; }

h3, h4, h5 {
  color: #414042; }

h3 {
  font-size: 3.75em;
  line-height: 1.1em;
  margin: 0;
  padding: 0 0 1em 0; }

h4, h5 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0;
  padding: 0 0 1.5em 0; }

.folio {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.875em;
  line-height: 1.28571em;
  color: #ff9797;
  text-transform: uppercase;
  margin: 0 0 0.85714em 0; }

body {
  width: 100%;
  background: #ee4141;
  font-family: 'ITCAvantGardeStd-Bold', helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #414042; }

.clearfix, body, .container {
  *zoom: 1; }
  .clearfix:before, body:before, .container:before, .clearfix:after, body:after, .container:after {
    content: "";
    display: table; }
  .clearfix:after, body:after, .container:after {
    clear: both; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px; }

@media print {
  body {
    font-size: 62.5%;
    line-height: 0.75em; } }
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none; }
