@import url("//hello.myfonts.net/count/2938ba");
/* line 2, ../scss/libs/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../scss/libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 4, ../scss/libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../scss/libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 6, ../scss/libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 7, ../scss/libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 8, ../scss/libs/_reset.scss */
a img {
  border: none;
}

/* line 9, ../scss/libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../scss/libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 13, ../scss/libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 14, ../scss/libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 15, ../scss/libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 16, ../scss/libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url("../webfonts/2938BA_0_0.eot");
  src: url("../webfonts/2938BA_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2938BA_0_0.woff") format("woff"), url("../webfonts/2938BA_0_0.ttf") format("truetype");
}

/* line 17, ../scss/libs/_typography.scss */
a {
  text-decoration: none;
  color: #be3434;
}

/* line 21, ../scss/libs/_typography.scss */
h2 {
  color: white;
  font-size: 1.125em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

/* line 28, ../scss/libs/_typography.scss */
h3, h4, h5 {
  color: #414042;
}

/* line 32, ../scss/libs/_typography.scss */
h3 {
  font-size: 3.75em;
  line-height: 1.1em;
  margin: 0;
  padding: 0 0 1em 0;
}

/* line 38, ../scss/libs/_typography.scss */
h4, h5 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0;
  padding: 0 0 1.5em 0;
}

/* line 46, ../scss/libs/_typography.scss */
.folio {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 0.875em;
  line-height: 1.28571em;
  color: #ff9797;
  text-transform: uppercase;
  margin: 0 0 0.85714em 0;
}

/* line 11, ../scss/style.scss */
body {
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 7.5em;
  color: #414042;
  width: 100%;
  background: #ee4141;
  font-family: 'ITCAvantGardeStd-Bold', helvetica, arial, sans-serif;
}

/* line 21, ../scss/style.scss */
.clearfix, body, .container {
  *zoom: 1;
}
/* line 21, ../scss/style.scss */
.clearfix:before, body:before, .container:before, .clearfix:after, body:after, .container:after {
  content: "";
  display: table;
}
/* line 21, ../scss/style.scss */
.clearfix:after, body:after, .container:after {
  clear: both;
}

/* line 22, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

/* line 26, ../scss/style.scss */
header {
  padding-bottom: 5.625em;
}
/* line 28, ../scss/style.scss */
header .site-title {
  display: inline;
  float: left;
  width: 81.66667%;
  margin: 0 0.83333%;
  margin-left: 17.5%;
}

/* line 34, ../scss/style.scss */
.mission {
  display: inline;
  float: left;
  width: 15%;
  margin: 0 0.83333%;
  padding-right: 2.5em;
}

/* line 39, ../scss/style.scss */
.event {
  display: inline;
  float: left;
  width: 40%;
  margin: 0 0.83333%;
  padding-bottom: 5.625em;
}

/* line 44, ../scss/style.scss */
.ticket-announcement, .logos {
  display: inline;
  float: left;
  width: 81.66667%;
  margin: 0 0.83333%;
  margin-left: 17.5%;
}

/* line 49, ../scss/style.scss */
footer {
  position: fixed;
  bottom: 25px;
  width: 100%;
}

/* line 55, ../scss/style.scss */
.logos {
  list-style-type: none;
}
/* line 57, ../scss/style.scss */
.logos li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media print {
  /* line 65, ../scss/style.scss */
  body {
    font-size: 62.5%;
    line-height: 0.75em;
  }
}
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}
